<div class="info">
  <app-info-header></app-info-header>

  <!-- Tab component -->

  <div class="tabs">
    <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked />
    <label class="blue" for="tab-btn-1">List Of Prior Surgeries</label>
    <input type="radio" name="tab-btn" id="tab-btn-2" value="" />
    <label for="tab-btn-2">List Of Medical Diagnosis</label>
    <input type="radio" name="tab-btn" id="tab-btn-3" value="" />
    <label for="tab-btn-3">List Of Medications</label>
    <input type="radio" name="tab-btn" id="tab-btn-4" value="" />
    <label for="tab-btn-4">Airway Evaluation</label>
    <input type="radio" name="tab-btn" id="tab-btn-5" value="" />
    <label for="tab-btn-5">Anesthesia Clearance and Recommendation</label>

    <div id="content-1">
      <app-tabular-info></app-tabular-info>
    </div>
    <div id="content-2">Information Not Available</div>
    <div id="content-3">Information Not Available</div>
    <div id="content-4">Information Not Available</div>
    <div id="content-5">Information Not Available</div>
  </div>
</div>
