<div class="header">
  <div class="header__appBar">
    <div class="header__list">
      <div>
        <img src="/assets/nav-logo.png" alt="" class="header__logo" />
      </div>
      <div class="header__listItem">
        <div class="header__itemContainer active">
          <h5 class="header__navItem">Patients</h5>
        </div>
        <div class="header__itemContainer">
          <h5 class="header__navItem">Calendar</h5>
        </div>
        <div class="header__itemContainer">
          <h5 class="header__navItem">Users</h5>
        </div>
        <div class="header__itemContainer">
          <h5 class="header__navItem">Billing</h5>
        </div>
      </div>
    </div>
    <div class="header__icons">
      <mat-icon
        class="header__iconsNotification"
        aria-hidden="false"
        aria-label="Example home icon"
        >notifications</mat-icon
      >
      <img src="/assets/avatar.png" />
    </div>
  </div>
</div>
