<mat-grid-list cols="1">
  <mat-grid-list>
    <mat-card class="header__matCard">
      <mat-card-actions>
        <mat-card-content>
          <div class="header__top">
            <div>
              <h3>Patient Information</h3>
            </div>
            <div class="header__topRight">
              <p>Last Updated: 10:25 AM, today</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div class="header__info">
            <img src="/assets/sara-info.png" alt="" />

            <div class="personal__info">
              <h3>Sara Smith</h3>
              <div class="info__container">
                <div class="info__flex">
                  <div class="block__title">
                    <p>Phone :</p>
                    <p>Email :</p>
                    <p>Gender :</p>
                    <p>Age :</p>
                  </div>
                  <div class="block__info">
                    <p>302-857-9685</p>
                    <p>sarasmith@gmail.com</p>
                    <p>Female</p>
                    <p>45</p>
                  </div>
                </div>
                <div class="info__flex">
                  <div class="block__title">
                    <p>Surgery Type :</p>
                    <p>Surgery Date :</p>
                    <p>Height (cm) :</p>
                    <p>Weight (lb) :</p>
                    <p>BMI :</p>
                  </div>
                  <div class="block__info">
                    <p>Rotator Cuff Repair</p>
                    <p>15 Aug 2020</p>
                    <p>163</p>
                    <p>110</p>
                    <p>19</p>
                  </div>
                </div>
                <div class="info__flex">
                  <div class="block__title">
                    <p>Anesthesiologist :</p>
                    <p>Anesthesiologist Phone :</p>
                    <p>Anesthesiologist Email :</p>
                  </div>
                  <div class="block__info">
                    <p>Dr. Chritina Hardaway</p>
                    <p>301-896-8745</p>
                    <p>christina@h3a.com</p>
                  </div>
                </div>
                <div class="last__column">
                  <p>Surgery Chances</p>
                  <img src="/assets/yes-symbol.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card-actions>
    </mat-card>
  </mat-grid-list>
</mat-grid-list>
