.Sidebar {
  height: 100%;
  background-color: #e8f5fe;
}

.Sidebar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 10px 15px;
}

.Sidebar__top > h5 {
  font-size: 14px;
  color: #414141;
}

.Sidebar__topArrow {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -15px;
}

.keyboard_arrow_left {
  font-size: 16px;
  color: skyblue;
}

.search-icon {
  color: #808080;
  font-size: 20px;
  margin-top: 4px;
}

.Sidebar__topArrow > .MuiSvgIcon-root {
  font-size: 16px;
}

.Sidebar__searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.sidebar__searchBoxInput {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid #ececec;
  border-radius: 3px;
}

.sidebar__searchBoxInput > input {
  border: none;
  height: 23px;
  width: 240px;
  padding: 5px;
  outline: none;
}

.sidebar__searchBoxInput > .MuiSvgIcon-root {
  color: #808080;
  font-size: 20px;
  padding: 5px;
}

.Sidebar__gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Sidebar__card {
  width: 100%;
}

.Sidebar__cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00a0f0;
  margin-bottom: 10px;
  width: 280px;
  height: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}

.Sidebar__cardContainerNormal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 280px;
  height: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
}

#red {
  font-size: 18px;
  color: #ff462c;
}

.cardInfo {
  display: flex;
  align-items: center;
}

.cardInfo__avatar {
  height: 55px;
  width: 55px;
  object-fit: contain;
  padding: 10px;
}

.sidebar__activeImg {
  width: 14px;
  height: 14px;
  object-fit: contain;
  padding: 20px;
}

.sidebar__activeBigImg {
  width: 12px;
  height: 12px;
  object-fit: contain;
  padding: 20px;
}

.textInfo {
  padding-left: 10px;
}
.normalInfo {
  padding-left: 10px;
}

.textInfo > h3 {
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 12px;
}

.textInfo > h5 {
  color: #fff;
  font-weight: 400;
  padding-top: 3px;
  margin-top: -22px;
}

.normalInfo > h3 {
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.2px;
  color: #262626;
  margin-top: 12px;
}
.normalInfo > h5 {
  color: #262626;
  font-weight: 400;
  padding-top: 3px;
  margin-top: -22px;
}
