<table>
  <thead>
    <tr class="table__heading">
      <th class="heading__text" scope="col">First Time Surgery</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__data">
      <td data-label="Account">No</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr class="table__heading">
      <th class="heading__text" scope="col">
        Family History of Surgical Complications?
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__data">
      <td data-label="Account">Yes</td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr class="table__heading">
      <th class="heading__text" scope="col">
        If Yes Please Provide More Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__data">
      <td data-label="Account">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsum
        neque aspernatur consectetur adipisicing elit. Quod ipsum neque
        aspernatur consectetur adipisicing elit.
      </td>
    </tr>
  </tbody>
</table>

<h5 class="lastTable__heading">Previous Surgeries</h5>

<table class="longTable">
  <thead>
    <tr class="table__heading">
      <th class="heading__text" scope="col">Surgery Type</th>
      <th class="heading__text" scope="col">Date</th>
      <th class="heading__text" scope="col">Anesthesia Type</th>
      <th class="heading__text" scope="col">Surgical Complications</th>
      <th class="heading__text" scope="col">
        Anesthetic Complications (nausea, vomating)
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="table__data">
      <td data-label="Account">Shoulder Reconstruction</td>
      <td data-label="Account">January 2008</td>
      <td data-label="Account">General Breathing Tube</td>
      <td data-label="Account">No</td>
      <td data-label="Account">No</td>
    </tr>
  </tbody>
</table>

<button class="add_btn" mat-raised-button>Add Surgery</button>
